automation/n8n_workflows/binance_financial_analysis.json
{
  "name": "Get Binance Spot Market Financial Analysis via Telegram with GPT-4o",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "id": "5d510e5f-cbe9-4989-a82f-a8d12d53dbf8",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -620,
        1080
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "78ff80af-6570-4244-b93c-cf37ac2edfcd",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -900,
        1420
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "1d661ce3-8afe-4c22-9bc4-2ef647320afb",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -640,
        1420
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are the **Binance Spot Market Financial Analyst AI Agent**, tasked with interpreting natural-language trading queries and generating **multi-timeframe, indicator-driven market analysis** for any Binance spot symbol.\n\nYour core responsibility is to orchestrate real-time price tools and technical indicator sub-agents to **diagnose trend conditions, volatility shifts, and market momentum**, and return a structured report formatted for Telegram.\n\n---\n\n### 🔗 Connected Tools & Agents\n\n#### 1. **Price & Market Structure Tool**\n\nWorkflow: `Binance SM Price-24hrStats-OrderBook-Kline Tool`\nReturns:\n\n* `getCurrentPrice`\n* `get24hrStats`\n* `getOrderBook`\n* `getKlines`\n  Input:\n\n```json\n{\n  \"message\": \"<SYMBOL>\",\n  \"sessionId\": \"<Telegram Chat ID>\"\n}\n```\n\n#### 2. **Timeframe-Based Technical Indicator Agents**\n\nEach uses the latest Binance kline data (limit: 40) to calculate:\n\n* **RSI** (14)\n* **MACD** (12/26/9)\n* **Bollinger Bands** (20/2)\n* **SMA / EMA** (20)\n* **ADX** (+DI, −DI, 14)\n\nAgents:\n\n* `Binance SM 15min Indicators Agent`\n* `Binance SM 1hour Indicators Agent`\n* `Binance SM 4hour Indicators Agent`\n* `Binance SM 1day Indicators Agent`\n\nInput to each agent:\n\n```json\n{\n  \"message\": \"<SYMBOL>\",\n  \"sessionId\": \"<Telegram Chat ID>\"\n}\n```\n\n---\n\n### 🧠 Decision Engine & Routing Logic\n\nYou must:\n\n* Extract the **symbol** and **implied timeframe** from the user query.\n* If no timeframe is given, default to:\n\n  * **Short-Term**: 15m + 1h\n  * **Mid-Term**: 1h + 4h\n  * **Long-Term**: 1d + 4h\n* Route data requests in parallel across tools\n* Merge raw metrics into a final structured insight\n\n---\n\n### 📤 Telegram Output Template\n\nReturn your final result in this format:\n\n```\n📊 <SYMBOL> Market Snapshot\n\n💰 Price: $63,220  \n📈 24h Change: +2.3%  \n📊 Volume: 45,210 BTC\n\n🧪 Technical Summary:\n• 1h RSI: 68 (Bullish)  \n• MACD: Crossover Up  \n• BB Width: Narrowing (Possible Breakout)  \n• ADX: 32 (Strong Trend)  \n\n📉 Support: $61,900  \n📈 Resistance: $63,800\n```\n\n---\n\n### ✅ Input Handling Notes\n\n* Input: Human questions like \"How’s BTC doing today?\" or \"Is SOL bullish in the 4h chart?\"\n* If timeframe is missing, **infer intent**\n* If symbol is missing, prompt: “Which token would you like me to analyze?”\n* All agents and tools **must return cleaned JSON**, avoid raw API output"
        }
      },
      "id": "a9983f64-eea0-4f6c-8965-d8252ad263f1",
      "name": "Binance SM Financial Analyst Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -180,
        1080
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "description": "This tool is a delegated sub-agent workflow that provides low-level market data from the Binance Spot Market in response to upstream AI reasoning. It is used by higher-level agents (e.g. the Financial Analyst Agent) to retrieve structured financial metrics and price data for any cryptocurrency pair.\n\n🔧 What It Does:\nThis agent accepts a symbol-based message input and returns Binance API data for:\n\n✅ getCurrentPrice – Latest market price for a trading pair (e.g., BTCUSDT)\n\n✅ get24hrStats – 24-hour price change, high/low, volume, and close stats\n\n✅ getOrderBook – Real-time order book (bids/asks) with adjustable depth\n\n✅ getKlines – Candlestick OHLCV data for technical analysis",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "xAa5vBxhQzEWWFJM",
          "cachedResultName": "Work Drive — Binance SM Price-24hrStats-OrderBook-Kline Tool"
        },
        "workflowInputs": {
          "value": {
            "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
            "sessionId": "={{ $json.sessionId }}"
          },
          "schema": [
            {
              "id": "message",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "sessionId",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "79ee5047-02a3-424c-a314-fa0ca7186df2",
      "name": "Binance SM Price-24hrStats-OrderBook-Kline Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -380,
        1400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "This is a 15-minute interval technical indicator agent for Binance Spot Market pairs. It provides AI-driven access to real-time technical signals calculated on the latest 15-minute candlestick data. Designed for use within larger financial analysis workflows, this tool helps detect short-term momentum shifts and trading signals.\n\n🔧 What It Does:\nWhen called with a valid crypto symbol, this agent fetches the latest 15-minute technical indicators, typically including (but not limited to):\n\n✅ Relative Strength Index (RSI)\n\n✅ Bollinger Bands (BBANDS)\n\n✅ Moving Averages (SMA/EMA)\n\n✅ MACD\n\n✅ ADX",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "INYtgCEbxdGBDivU",
          "cachedResultName": "Work Drive — Binance SM 15min Indicators Tool"
        },
        "workflowInputs": {
          "value": {
            "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
            "sessionId": "={{ $json.sessionId }}"
          },
          "schema": [
            {
              "id": "message",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "sessionId",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "fb45f4ec-d2fa-44d0-ab3c-6a01051d3206",
      "name": "Binance SM 15min Indicators Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        -100,
        1400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "This agent is responsible for analyzing 1-hour interval technical indicators for trading pairs on the Binance Spot Market. It is used to detect mid-range market momentum and potential entry/exit signals based on trend strength and volatility.\n\n🔧 What It Does:\nWhen invoked, this agent queries the Binance SM 1hour Indicators Tool to retrieve AI-processed indicator data including (but not limited to):\n\n✅ RSI (Relative Strength Index)\n\n✅ MACD (Moving Average Convergence Divergence)\n\n✅ Bollinger Bands (BBANDS)\n\n✅ SMA / EMA (Simple & Exponential Moving Averages)\n\n✅ ADX (Average Directional Index)\n\nThese indicators are calculated from the latest 1-hour candlestick data and limited to the most recent data points (typically last 20).",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "eXDMxZUrE0tIPcR9",
          "cachedResultName": "Work Drive — Binance SM 1hour Indicators Tool"
        },
        "workflowInputs": {
          "value": {
            "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
            "sessionId": "={{ $json.sessionId }}"
          },
          "schema": [
            {
              "id": "message",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "sessionId",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "467a5d27-a7e9-48f2-b381-61bfba4bf2a1",
      "name": "Binance SM 1hour Indicators Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        120,
        1400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "description": "This agent focuses on retrieving and analyzing 4-hour timeframe technical indicators for Binance Spot Market trading pairs. It provides a medium-term view of trend strength, volatility, and momentum shifts—ideal for swing trading analysis and macro-level setups.\n\n🔧 What It Does:\nWhen triggered, the agent queries the Binance SM 4hour Indicators Tool workflow and returns a curated set of technical indicator values, such as:\n\n✅ RSI (Relative Strength Index)\n\n✅ MACD (Moving Average Convergence Divergence)\n\n✅ Bollinger Bands\n\n✅ SMA / EMA\n\n✅ ADX (Trend Strength)\n\nThese indicators are derived from recent 4-hour candlestick data (typically the last 20 bars) and formatted for human-readable AI response generation.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "6U56ifHxnha9rf2n",
          "cachedResultName": "Work Drive — Binance SM 4hour Indicators Tool"
        },
        "workflowInputs": {
          "value": {
            "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
            "sessionId": "={{ $json.sessionId }}"
          },
          "schema": [
            {
              "id": "message",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "sessionId",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "5e280d38-916a-41aa-b440-df908e3c2666",
      "name": "Binance SM 4hour Indicators Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        360,
        1400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "tZtQVd3nbDgZ1DTZ",
          "cachedResultName": "Work Drive — Binance SM 1day Indicators Tool"
        },
        "workflowInputs": {
          "value": {
            "message": "={{ $fromAI(\"message\",\"Populate this with a relevant message to this subagent\")}}",
            "sessionId": "={{ $json.sessionId }}"
          },
          "schema": [
            {
              "id": "message",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "message",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sessionId",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "sessionId",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "id": "dcef2743-d9a3-441f-8b2f-63cad1bd84ae",
      "name": "Binance SM 1day Indicators Agent",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "position": [
        620,
        1400
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## Trigger: Parent Workflow Call\nNode: When Executed by Another Workflow\nThis agent does not start on its own. It is always triggered from a higher-level agent, like:\n\n**Binance Quant AI Agent**\n\nCustom multi-timeframe analyzers",
        "height": 500,
        "color": 4
      },
      "id": "d19e7541-9792-48d9-a949-f4c07f3971b1",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -680,
        780
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Memory Context\nNode: **Simple Memory\nStores the session ID, message, and interim indicator values** for cross-tool alignment. Enables:\n\nMulti-turn dialogue logic\n\nTrend comparison across timeframes\n\nReport reuse if repeated query is made",
        "height": 520,
        "width": 220,
        "color": 3
      },
      "id": "a5ce079a-b4a9-43b3-af54-6a7067361e95",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -700,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## AI Engine\nNode: OpenAI Chat Model\nModel: **gpt-4.1-mini** or compatible\nUsed to:\n\nInterpret values from all indicator tools\n\nLabel behavior: **“Overbought,” “MACD Cross Up,” “Volatility Spike”**\n\nOutput final snapshot in clean Telegram format",
        "height": 520,
        "width": 220
      },
      "id": "f9c67345-0fcf-4671-8b11-241c22d94f04",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Price & Structure Tool\nNode: **Binance SM Price-24hrStats-OrderBook-Kline Agent**\nReturns raw metrics:\n\n✅ Current Price\n\n✅ 24hr Stats (OHLCV)\n\n✅ Order Book Depth (top 100 bids/asks)\n\n✅ Kline snapshots (15m, 1h, 4h, 1d)\n\nAll data is Telegram-optimized before AI formatting.\n\n",
        "height": 620,
        "width": 220,
        "color": 6
      },
      "id": "1cf08d5d-4a55-44cc-a2d4-114ba8e7149f",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -440,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Technical Indicator Agents\nEach tool receives the same inputs:\n\njson\n{\n  \"message\": \"BTCUSDT\",\n  \"sessionId\": \"539847013\"\n}\n\n🔸 **15m Indicator Agent**\nDetects **fast-changing intraday signals** (scalping, fakeouts)\n\n\nEach calculates:\n\nRSI (14)\n\nMACD (12/26/9)\n\nBBANDS (20/2)\n\nSMA/EMA (20)\n\nADX (+DI / −DI, 14)",
        "height": 780,
        "width": 220,
        "color": 6
      },
      "id": "c2c0fd60-1419-408b-94a8-3315be99f3ab",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Technical Indicator Agents\nEach tool receives the same inputs:\n\njson\n{\n  \"message\": \"BTCUSDT\",\n  \"sessionId\": \"539847013\"\n}\n\n🔸 **1h Indicator Agent**\nBest for **momentum confirmation or breakout acceleration**\n\n\nEach calculates:\n\nRSI (14)\n\nMACD (12/26/9)\n\nBBANDS (20/2)\n\nSMA/EMA (20)\n\nADX (+DI / −DI, 14)",
        "height": 780,
        "width": 220,
        "color": 6
      },
      "id": "f2a6b79a-b389-457a-85ca-754bef0f7b2e",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        60,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Technical Indicator Agents\nEach tool receives the same inputs:\n\njson\n{\n  \"message\": \"BTCUSDT\",\n  \"sessionId\": \"539847013\"\n}\n\n🔸 **4h Indicator Agent**\n**Macro view of medium-term setups and volume confirmation**\n\nEach calculates:\n\nRSI (14)\n\nMACD (12/26/9)\n\nBBANDS (20/2)\n\nSMA/EMA (20)\n\nADX (+DI / −DI, 14)",
        "height": 780,
        "width": 220,
        "color": 6
      },
      "id": "44f203cf-e59a-438d-afed-30182184f16d",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Technical Indicator Agents\nEach tool receives the same inputs:\n\njson\n{\n  \"message\": \"BTCUSDT\",\n  \"sessionId\": \"539847013\"\n}\n\n\n🔸 1**d Indicator Agent**\n**High-timeframe sentiment, ideal for swing trade direction**\n\nEach calculates:\n\nRSI (14)\n\nMACD (12/26/9)\n\nBBANDS (20/2)\n\nSMA/EMA (20)\n\nADX (+DI / −DI, 14)",
        "height": 780,
        "width": 220,
        "color": 6
      },
      "id": "e2f253eb-19ca-412d-8ec4-31b1e906a070",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        1360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Primary Reasoning Agent\nNode: Binance SM Financial Analyst Agent\nThis is the orchestrator that:\n\n**Parses the symbol** and optional timeframe from user input\n\nSelects **tools dynamically**\n\n**Merges all results into one final report**\n\n",
        "height": 460,
        "width": 500,
        "color": 5
      },
      "id": "c8a350e4-96f7-4afb-b4a7-9196cecc864e",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        800
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 📊 Binance SM Financial Analyst Tool – Documentation\n\nA central orchestrator that fuses market structure data and technical indicators across all relevant timeframes, preparing them for final trading analysis inside the Quant AI system.\n\n---\n\n## 🎯 Purpose\n\nThis tool is responsible for:\n\n* Parsing Telegram-style prompts from the master agent\n* Routing data requests to all relevant indicator tools (15m, 1h, 4h, 1d)\n* Fetching price, volume, order book, and kline structure\n* Merging all responses and returning a clean, readable summary\n\n---\n\n## 🧩 Connected Sub-Agents\n\n| Sub-Agent Tool                           | Role                                                     |\n| --------------------------------------   | -------------------------------------------------------- |\n| ✅ Binance SM 15min Indicators Tool       | Short-term volatility and reversals                      |\n| ✅ Binance SM 1hour Indicators Tool       | Intraday momentum and trend formation                    |\n| ✅ Binance SM 4hour Indicators Tool       | Swing trend analysis and confirmation                    |\n| ✅ Binance SM 1day Indicators Tool        | Macro trend detection and directional bias               |\n| ✅ Binance SM Price/24hStats/Kline Tool   | Raw market structure: OHLCV, order book, real-time price |\n\n---\n\n## ⚙️ Workflow Architecture\n\n| Section                             | Description                                                     |\n| ----------------------------------- | --------------------------------------------------------------- |\n| 🔄 **Trigger:**                     | Executed by Quant AI Agent or Telegram Bot Handler              |\n| 💬 **LLM Reasoning (gpt-4o-mini):** | Interprets queries, symbol, timeframe, intent                   |\n| 🧠 **Session Memory:**              | Tracks `sessionId`, symbol history, multi-turn intent           |\n| 📥 **Input Format:**                | `{ \\\"message\\\": \\\"SOLUSDT\\\", \\\"sessionId\\\": \\\"123456789\\\" }`    |\n| 🔁 **Tool Calls:**                  | Invokes all indicators and market data tools in parallel        |\n| 📊 **Merge Results:**               | Combines indicators + price + order book into structured output |\n| 📤 **Final Output:**                | Telegram-ready HTML summary (text only, no raw JSON)            |\n\n---\n\n## 📏 Timeframe Logic\n\n| Case           | Action                                            |\n| -------------- | ------------------------------------------------- |\n| No timeframe   | Default to `15m + 1h` (short-term snapshot)       |\n| Broad question | Return `1h + 4h + 1d` data (medium- to long-term) |\n| Symbol missing | Ask user to clarify the token or asset symbol     |\n\n---\n\n## 🖥️ Telegram Output Format\n\n```\n📊 ETHUSDT Market Overview\n\n💰 Price: $3,680  \n📉 24h Stats: High $3,720 | Low $3,580 | Volume: 920,000 ETH\n\n🧪 4h Technical Indicators:\n• RSI: 62.1 → Neutral-Bullish  \n• MACD: Crossover Up  \n• BB: Price near upper band  \n• ADX: 27.9 → Growing Trend\n\n📈 Resistance: $3,740  \n📉 Support: $3,600\n```\n\n---\n\n## ✅ Use Case Scenarios\n\n| Scenario                               | Result                                                     |\n| -------------------------------------- | ---------------------------------------------------------- |\n| User asks: “Show me BTC outlook today” | 15m + 1h + 1d analysis merged and summarized               |\n| User asks: “How is DOGE trending?”     | Indicator agent fetch + live price + structure returned    |\n| Input lacks timeframe                  | Defaults to short + medium scopes with follow-up if needed |\n\n---\n\n## 🚀 Support & Licensing\n\n🔗 **Don Jayamaha – LinkedIn**\n[http://linkedin.com/in/donjayamahajr](http://linkedin.com/in/donjayamahajr)\n\n© 2025 Treasurium Capital Limited Company. All rights reserved.\nThis AI automation system, including logic, code, prompt flows, and architectural structure, is proprietary intellectual property of **Treasurium Capital Limited Company**. Reproduction, redistribution, or resale is strictly prohibited without express license.\n",
        "height": 1900,
        "width": 1060
      },
      "id": "b6b2908e-3dd4-4648-be9a-73fbfab84cbd",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        260
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Binance SM Financial Analyst Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Binance SM Financial Analyst Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Binance SM 1day Indicators Agent": {
      "ai_tool": [
        [
          {
            "node": "Binance SM Financial Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Binance SM 15min Indicators Agent": {
      "ai_tool": [
        [
          {
            "node": "Binance SM Financial Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Binance SM 1hour Indicators Agent": {
      "ai_tool": [
        [
          {
            "node": "Binance SM Financial Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Binance SM 4hour Indicators Agent": {
      "ai_tool": [
        [
          {
            "node": "Binance SM Financial Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Binance SM Financial Analyst Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binance SM Price-24hrStats-OrderBook-Kline Agent": {
      "ai_tool": [
        [
          {
            "node": "Binance SM Financial Analyst Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "02511cf2-9447-4ce1-8d00-7f31920e5e65",
  "meta": {
    "instanceId": "c2f222dec590bd18822443a5488a8477fdebbc865744c111da086d9a82f0d6be"
  },
  "id": "eWaGV1fVF3wz2H7O",
  "tags": []
}