automation/n8n_workflows/binance_15min_indicators.json
{
  "name": "Binance SM 15min Indicators Tool",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "6bac926d-f890-4419-8ec4-6638f76820e9",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -500,
        1520
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "6c3c96d8-2fb7-4e58-97f2-c0afdf79da48",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -220,
        1520
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "message"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "id": "febee726-55ab-4644-88d6-560acf7d32fb",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -680,
        1200
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are a short-term technical analysis agent that calculates **15-minute interval trading signals** for any Binance Spot Market trading pair. You are used by higher-level agents to assess intraday volatility, trend momentum, and entry/exit opportunities.\n\n---\n\n### 🔐 Access Control\n\n* Expect to be triggered by another workflow.\n* Maintain `sessionId` context for user-specific response handling.\n\n---\n\n### 📥 Expected Input Format\n\n```json\n{\n  \"message\": \"BTCUSDT\",\n  \"sessionId\": \"123456789\"\n}\n```\n\n* `message`: Valid Binance symbol (e.g., BTCUSDT)\n* `sessionId`: Telegram user or workflow context\n\n---\n\n### 🔧 Tools Used\n\nYou POST the trading pair to this endpoint:\n\n```\nhttps://treasurium.app.n8n.cloud/webhook/15m-indicators\n```\n\n**Payload format:**\n\n```json\n{\n  \"symbol\": \"BTCUSDT\"\n}\n```\n\n---\n\n### 📊 Behavior\n\n* Request **15-minute kline data** with a limit sufficient for indicator calculations (typically `limit: 100`).\n* Calculate key indicators including:\n\n  * RSI\n  * MACD\n  * Bollinger Bands\n  * SMA/EMA\n  * ADX\n* Return results in Telegram-optimized format (e.g. Markdown with clear sections).\n\n---\n\n### 🧠 Use Cases\n\n* Detect momentum shifts in short-term windows.\n* Generate alerts for potential scalping or breakout signals.\n* Contribute insights to larger multi-timeframe analysis workflows (e.g., Quant AI Agent, Financial Analyst Tool).\n\n"
        }
      },
      "id": "5ca04c8e-4317-4d0a-b578-6666b4d8e7fd",
      "name": "Binance SM 15min Indicators Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -280,
        1200
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://treasurium.app.n8n.cloud/webhook/15m-indicators",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8d3c723c-6968-4cb4-9632-bafee5d52294",
      "name": "HTTP Request 15m Indicators Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        40,
        1500
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Workflow Trigger\nNode: When Executed by Another Workflow\nThis workflow does not start on its own — it is always triggered by:\n\n**Binance SM Financial Analyst Tool**\n\n**Binance Quant AI Agent**",
        "height": 500,
        "color": 4
      },
      "id": "2d9c05a1-0b27-43af-82c0-2613c519dc7e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -760,
        920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Agent Reasoning (GPT)\nNode: **Binance SM 15min Indicators Agent**\nUses GPT-4o-mini (gpt-4.1-mini) to:\n\n**Interpret raw indicator output**\n\nDetect signal patterns like:\n\n**Overbought RSI**\n\n**MACD crossovers**\n\n**Bollinger Band squeezes**\n\n**EMA/SMA relationships**\n\n**Strong/weak ADX readings**\n\n**Generate structured summaries**\n\n",
        "height": 620,
        "width": 500,
        "color": 5
      },
      "id": "b9b606d0-ca50-4541-97a4-a71857be2664",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -380,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## OpenAI Model\nNode: OpenAI Chat Model\nModel: **gpt-4.1-mini**\nProvides language interpretation of the numeric indicators.\n\nExample:\n\n**• RSI: 71 → Overbought  \n• MACD: Cross Up  \n• BB: Touching Upper Band  \n• ADX: 32 → Strong Uptrend**\n",
        "height": 520,
        "width": 220
      },
      "id": "db4d1a0d-5d69-4171-8854-a46d9521a4ea",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        1460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Memory System\nNode: Simple Memory\nStores **session context (sessionId, symbol, last query).**\nUsed for:\n\n**Persistent multi-turn interactions\n\nCross-agent symbol consistency**",
        "height": 520,
        "width": 220,
        "color": 3
      },
      "id": "0ef6a611-0679-4f7c-b6c3-a90191aa7ae0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        1460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Indicator Tool Request\nNode: HTTP Request 15m Indicators Tool\n\n**Makes a POST request to:**\n\nhttps://treasurium.app.n8n.cloud/webhook/15m-indicators\n\nPayload:\n\njson\n{ \"symbol\": \"BTCUSDT\" }\n\nThis **backend endpoint** is responsible for:\n\n**Fetching the last 100 15m candles\n\nCalculating:\n\nRSI (14)\n\nMACD (12/26/9)\n\nBollinger Bands (20/2)\n\nSMA + EMA (20)\n\nADX (14)**\n\nThe result is returned as cleaned JSON with **indicator values and signal tags.**",
        "height": 960,
        "width": 220,
        "color": 6
      },
      "id": "483da974-174e-43b7-a530-1fca5b272b7c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        1460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 🧪 Binance SM 15min Indicators Tool – Documentation\n\nA specialized short-term technical analysis module that calculates and interprets trading indicators using **15-minute candlestick data** for any Binance Spot Market symbol.\n\n---\n\n## 🎯 Purpose\n\nThis workflow is used to:\n\n* Extract recent 15m kline data from Binance\n* Calculate core technical indicators: RSI, MACD, BBANDS, ADX, SMA/EMA\n* Interpret signals using GPT (e.g., “Overbought RSI”, “MACD crossover up”)\n* Return results formatted for Telegram or internal agent use\n\nIt is designed to help the Quant AI Agent and Financial Analyst Tool understand intraday volatility and momentum.\n\n---\n\n## ⚙️ Key Workflow Structure\n\n| Node Name                           | Role                                                             |\n| ----------------------------------- | ---------------------------------------------------------------- |\n| `When Executed by Another Workflow` | Trigger — activated by Financial Analyst or Quant AI Agent       |\n| `Binance SM 15min Indicators Agent` | Main agent that receives input and manages tool orchestration    |\n| `HTTP Request 15m Indicators Tool`  | Calls webhook that calculates indicators using raw kline data    |\n| `Simple Memory`                     | Tracks session context (Telegram ID, symbol)                     |\n| `OpenAI Chat Model`                 | Interprets raw numeric data into human-readable Telegram message |\n\n---\n\n## 📥 Expected Input Format\n\nThis tool receives structured inputs:\n\n```json\n{\n  \"message\": \"BTCUSDT\",\n  \"sessionId\": \"123456789\"\n}\n```\n\n* `message`: Must be a valid Binance trading pair (e.g., ETHUSDT)\n* `sessionId`: Used for maintaining conversational context\n\n---\n\n## 🔧 Indicator Calculation Logic\n\nThe actual computation is done by the **15m Indicator Backend Tool** via HTTP POST:\n\n**Endpoint:**\n\n```\nhttps://treasurium.app.n8n.cloud/webhook/15m-indicators\n```\n\n**Payload:**\n\n```json\n{\n  \"symbol\": \"BTCUSDT\"\n}\n```\n\n**Backend calculates:**\n\n* RSI (14)\n* MACD (12,26,9)\n* Bollinger Bands (20, 2)\n* Simple Moving Average (SMA 20)\n* Exponential Moving Average (EMA 20)\n* ADX (14)\n\nThe response includes the latest values, directional bias, and status tags like `\"Overbought\"`, `\"Cross Up\"`, etc.\n\n---\n\n## 🧠 GPT Analysis Layer\n\nThe raw values are sent to the **gpt-4.1-mini** model, which:\n\n* Translates them into structured insights\n* Highlights key signals like:\n\n  * RSI zones (Overbought/Oversold)\n  * BB squeeze or expansion\n  * MACD crossover points\n  * ADX trend strength\n\n**Sample Output:**\n\n```\n📉 15m Technical Overview for BTCUSDT\n\n• RSI: 72 → Overbought  \n• MACD: Cross Up (Bullish)  \n• BB: Expanding, Price near Upper Band  \n• EMA > SMA → Bullish Momentum  \n• ADX: 34 → Strong Trend\n```\n\n---\n\n## 🧩 Use Case Scenarios\n\n| Scenario                              | Outcome                                                           |\n| ------------------------------------- | ----------------------------------------------------------------- |\n| User asks for “short-term DOGE trend” | Tool returns 15m signals showing volatility or setup pattern      |\n| Part of daily report on BTC           | Confirms intraday strength or exhaustion with momentum indicators |\n| Used by Financial Analyst Tool        | Feeds into broader analysis (1h/4h/1d + price structure)          |\n\n---\n\n## 📦 Deployment Instructions\n\n1. **Import** this workflow into your n8n instance\n2. **Ensure webhook endpoint** (`/15m-indicators`) is active and reachable\n3. **Test trigger** using `Execute Workflow` from Quant AI or Financial Analyst tool\n4. **Connect OpenAI API key** to enable GPT interpretation\n5. Confirm all input symbols are valid Binance pairs\n\n---\n\n## 🔐 Licensing & Support\n\n🔗 **Don Jayamaha – LinkedIn**\n[http://linkedin.com/in/donjayamahajr](http://linkedin.com/in/donjayamahajr)\n\n© 2025 Treasurium Capital Limited Company. All rights reserved.\nUnauthorized reuse, resale, or redistribution of this tool or its design is strictly prohibited. This system and its supporting architecture are protected under U.S. and international copyright law.\n\n",
        "height": 2860,
        "width": 1360
      },
      "id": "1ba2ce15-38e2-47a7-a38a-a10e2cea4918",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -40
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Binance SM 15min Indicators Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Binance SM 15min Indicators Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request 15m Indicators Tool": {
      "ai_tool": [
        [
          {
            "node": "Binance SM 15min Indicators Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Binance SM 15min Indicators Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f67b43c8-cb29-4d76-9725-9cf212fa18c1",
  "meta": {
    "instanceId": "c2f222dec590bd18822443a5488a8477fdebbc865744c111da086d9a82f0d6be"
  },
  "id": "qQCYOwpP9Gx1hGpL",
  "tags": []
}